/* #login */
div#login { padding: 15% 0 0 0; border: none; background-color: #9a0000; margin: 0 auto; height: 100% }
div#login h3, div#login p { color: #fff; text-align: center; }
div#login form { width: 270px; margin: 0 auto; }
div#login input { background-color: #474747; color: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border: 2px solid #191919; height: 40px;  width: 270px; padding: 0 1em; }
.login_logo { background: transparent url(../layout/logo.png) no-repeat; background-size: 100%; width: 215px; height: 53px; overflow: hidden; margin: 0 auto 1.5em auto; }
div#login ::-webkit-input-placeholder {color: #191919; }
div#login :-moz-placeholder { color: #191919; }
div#login :-ms-input-placeholder { color:  #191919; }
div#login input[type="submit"] { background: #474747 !important; color: #fff; font-size: 16px; text-shadow: none; }
div#login_notification { text-overflow: ellipsis; overflow: hidden; width: 440px; margin: auto; }
a#forgotten_pwd { text-align: center; display: block; padding-top: 15px; padding-left:20px; color: #191919; font-weight: bold; }

/* bread nav */
div#fuel_main_top_panel { height: 29px; font-size: 13px; color: #fff; background-color: #9a0000; border-bottom: 1px solid #5c0001; overflow: hidden; }
div#fuel_main_top_panel h2 { color: #fff; line-height: 30px; margin-left: 11px; }
div#fuel_main_top_panel h2 a { color: #fff; }
div#fuel_main_top_panel li { float: left; display: block; list-style: none; line-height: 29px; font-weight: bold; border-right: 1px solid #fff;}
div#fuel_main_top_panel li a { display: block; color: #fff; background: #6d6d6d url(../images/tab.png) repeat-x;  padding: 0 15px; }
div#fuel_main_top_panel li a:hover { background: #7c7c7c url(../images/tab.png) repeat-x 0 -29px; }
div#fuel_main_top_panel li.active a { background: #9a0000 url(../images/tab.png) repeat-x 0 -58px; color: #fff;   }
div#fuel_login_logout { position: absolute; top: 8px; right: 15px; font-size: 11px; color: #fff; background-color: #9a0000; height: 21px;  }

div#fuel_actions { height: 46px; border-bottom: 1px solid #5c0001; position: relative; min-width: 680px;
background: #9a0000; 
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9a0000), color-stop(1, whiteSmoke));*/
background: -moz-linear-gradient(top center, #f6f6f6 0%, #ddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dddddd');
 }
 
 /******************************************************
left panel 
******************************************************/
div#fuel_top { z-index: 2; line-height: 28px; height: 30px;  background-color: #393939; color: #fff; padding: 0 10px; color: #fff; text-shadow: #444 0px 1px 0px; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5d5d5d), color-stop(1, #393939));
  background: -moz-linear-gradient(top center, #5d5d5d  0%, #393939 100%); }
div#fuel_top a:hover { text-decoration: underline; }
h1#fuel_site_name { float: left; font-size: 18px; width: 170px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
h1#fuel_site_name a { color: #999; text-shadow: #111 0px -1px 0px; text-decoration: none; }
h1#fuel_site_name a:hover { color: #aaa; text-decoration: none; }

div#fuel_left_panel { z-index: 1; position: absolute; top: 30px; left: 0px; bottom: 0px; width: 200px; background-color: #333; overflow: auto; border-right: 1px solid #292929; overflow-x: hidden; 
  -moz-box-shadow: inset -5px 5px 20px 5px #2f2f2f; 
  -webkit-box-shadow: inset -5px 5px 20px 5px #2f2f2f; 
  box-shadow: inset -5px 5px 20px 5px #2f2f2f;
   }
div#fuel_left_panel a { color: #999; text-decoration: none; text-shadow: #000 0px 1px 0px; display: block; overflow: hidden; text-overflow: ellipsis; width: 130px; }
div#fuel_left_panel a:hover { color: #bbb; text-decoration: underline; }
div#fuel_left_panel_inner { padding: 10px; text-shadow: #000 0px 1px 0px; }
div#fuel_left_panel_inner h3 { margin: 0; cursor: pointer; font-size: 11px; color: #999; text-transform: uppercase; background: transparent url(../images/toggle_arrow_down.png) no-repeat 0px 3px; padding-left: 15px; margin-bottom: 2px; }
div#fuel_left_panel_inner h3.closed { background-image: url(../images/toggle_arrow_right.png); background-position: 1px 3px;}
div#fuel_left_panel_inner li { list-style: none; margin: 0 -15px 0 -20px; padding: 0 30px 0 30px; width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
div#fuel_left_panel_inner li.active { background: transparent url(../images/leftnav_on.png) repeat-x; color: #fff; }
div#fuel_left_panel_inner li.active a { color: #fff; text-shadow: #555 0px 1px 0px; }
div#fuel_left_panel_inner li ul li a { margin-left: 15px; }
div#fuel_left_panel_inner li.active ul li.active  {  background: none; }
div#fuel_left_panel_inner li.active ul li a { color: #333; text-decoration: none; text-shadow: #fff 0px 1px 0px; background: none;  }
div#fuel_left_panel_inner li.active ul li.active a { text-decoration: underline; }