@import url("styles.css");

/* #login */
div#login { padding: 15% 0 0 0; border: none; background-color: #9a0000; margin: 0 auto; height: 100% }
div#login h3, div#login p { color: #fff; text-align: center; }
div#login form { width: 270px; margin: 0 auto; }
div#login input { background-color: #474747; color: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border: 2px solid #191919; height: 40px;  width: 270px; padding: 0 1em; }
.login_logo { background: transparent url(../layout/logo.png) no-repeat; background-size: 100%; width: 215px; height: 53px; overflow: hidden; margin: 0 auto 1.5em auto; }
div#login ::-webkit-input-placeholder {color: #191919; }
div#login :-moz-placeholder { color: #191919; }
div#login :-ms-input-placeholder { color:  #191919; }
div#login input[type="submit"] { background: #474747 !important; color: #fff; font-size: 16px; text-shadow: none; }
div#login_notification { text-overflow: ellipsis; overflow: hidden; width: 440px; margin: auto; }
a#forgotten_pwd { text-align: center; display: block; padding-top: 15px; padding-left:20px; color: #191919; font-weight: bold; }

input#Save, input.submit { margin-top: 10px; width: 120px; text-align: center; }
input#Cancel, input.cancel { margin-top: 10px; margin-right: 10px; width: 120px; text-align: center; }