@charset "utf-8";
/* CSS Document */


/* ---- NEW! Stage Styles "Fahrzeugstage" */

#stage .carstage {
	background-image: url(../images/cars/fahrzeuge_stage_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 100%;
	height: 466px;
}
#stage .fahrzeughero {
	text-align: center;
	padding: 25px 0 0 0;
}
#substage {
	background-image: url(../images/cars/fahrzeuge_substage_bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	margin: 0 0 0 0;
	padding: 15px 20px 40px 20px;
}
#substage h1 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #FFF;
	font-size: 48px;
}
#substage h2 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #FFF;
	text-transform: uppercase;
	font-size: 24px;
}
#substage p {
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
	color: #FFF;
	font-size: 14px;
}


/* ---- NEW! CARPAGE "Content" */

.techdetails {
	text-align: center;
}
#content #car_techdetails {
	width: 100%;
	background-image: url(../images/cars/tech_BG_red.png);
	margin-top: 250px;
	padding: 40px 0;
}

#content #car_techdetails .row_a {
	width: 320px;
	display: inline-block;
	text-align: left;
	margin-right: 10px;
	vertical-align: top;
}
#content #car_techdetails .row_b {
	width: 225px;
	display: inline-block;
	margin-right: 10px;
	text-align: left;
}
#content #car_techdetails .row_c {
	width: 225px;
	display: inline-block;
	text-align: left;
}


#content #car_techdetails .cell_non_bg {
	border-top: 1px solid #FFF;
	color: #FFF;
	padding: 10px 0 3px 0;
	margin-bottom: 15px;
	margin-top: 1px;
}
#content #car_techdetails .cell_with_bg {
	background-color: #FFF;
	color: #1e1e1e;
	padding: 0 0 5px 0;
	margin-bottom: 15px;
}
#content #car_techdetails .cell_with_bg img {
	width: 65px;
	float: left;
	margin: 0 10px 0 10px;
}


#content #car_techdetails p {
	font-family: 'Cabin', Arial, sans-serif;
	font-weight: normal;
	margin: 0 0 0 0;
}
#content #car_techdetails p.label {
	font-size: 14px;
	text-transform: uppercase;
}
#content #car_techdetails p.value {
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
}
#content #car_techdetails p.valuea {
	font-size: 24px;
	font-weight: bold;
	padding-top: 8px;
}


#content .car_content h2 {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 48px;
	color: #252525;
	margin: 70px 20px 0 20px;
	text-align: center;
}

#content .car_tools {
	margin: 60px 0 0 0;
}
#content .car_tools .toolbox {
	margin: 0 0 30px 0;
}

#content .car_tools .imageleft {
	width: 66%;
	float: left;
	margin: 0 20px 0 0;
}
#content .car_tools .textleft {
	width: 30%;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#content .car_tools .imageright {
	width: 66%;
	float: right;
	margin: 0 0 0 20px;
}
#content .car_tools .textright {
	width: 30%;
	float: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#content .car_tools .text h3 {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
	color: #252525;
	margin: 0 0 0 0;
}
#content .car_tools .text h4 {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #9a0000;
	margin: 25px 0 0 0;
}
#content .car_tools .text p {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: none;
	font-weight: normal;
	font-size: 14px;
	color: #252525;
	margin: 20px 0 0 0;
}
#content .car_tools .text .head .number {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: none;
	font-weight: bold;
	font-size: 130px;
	color: #d9d9d9;
	margin: 0 0 0 0;
	width: 70%;
	padding: 0 0 0 25%;
	line-height: 100px;
}
#content .car_tools .text .head .content {
	margin: -105px 0 0 0;
}


#content .car_darkspecial {
	color: #FFFFFF;
	background-color: #252525;
	margin: 60px 0 0 0;
	padding: 0 0 0 0;
}
#content .car_darkspecial .specialwrapper {
	width: 100%;
	margin: 0 0;
}
#content .car_darkspecial h2 {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 48px;
	color: #FFFFFF;
	padding: 70px 0;
	text-align: center;
	margin: 0 20px;
}

#content .car_darkspecial .text {
	float: left;
	width: 50%;
}
#content .car_darkspecial .image {
	float: right;
	width: 50%;
}
#content .car_darkspecial .textleft {
	float: right;
}
#content .car_darkspecial .imageleft {
	float: left;
}


#content .car_darkspecial .text .number {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 80px;
	color: #3e3e3e;
	padding: 0 0 0 0;
	margin: 0 0 40px 25px;
}
#content .car_darkspecial .textleft .number {
	text-align: right;
	width: 95%;
	margin: 0 0 40px 0;
}
#content .car_darkspecial .text .contentblock {
	margin: 0 0 0 20%;
}
#content .car_darkspecial .textleft .contentblock {
	margin: 0 0 0 20px;
}
#content .car_darkspecial .text h3 {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
#content .car_darkspecial .text p {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: none;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 80%;
}


#content .car_freespecial {
	width: 80%;
	margin: 0 auto -60px auto;
	padding: 70px 0 0 0;
	position: relative;
}
#content .car_freespecial .text {
	width: 39%;
	float: left;
	text-align: right;
	margin: 140px 0 0 6%;
}
#content .car_freespecial .image {
	width: 50%;
	float: left;
	margin: 0 0 0 5%;
	padding: 0 0 0 0;
}
#content .car_freespecial .text h2 {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	color: #252525;
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
}
#content .car_freespecial .text p {
	font-family: 'Cabin', Arial, sans-serif;
	text-transform: normal;
	font-weight: normal;
	font-size: 14px;
	color: #252525;
	padding: 0 0 0 0;
	margin: 0 0 0 0;	
}

#content .car_slideshowbox {
	width: 646px;
	margin: 60px auto 0 auto;
}


@media only screen and (min-width: 1290px) {

	#content .car_darkspecial .specialwrapper {
		width: 1290px;
		margin: 0 auto;
	}

}

@media only screen and (max-width: 850px) {

	#stage .carstage {
		background-size: cover;
	}
	#substage {
		background-size: cover;
	}
	#content #car_techdetails .row_a {
		width: 90%;
		display: block;
		margin: 0 auto 30px auto;
	}
	#content #car_techdetails .row_b,
	#content #car_techdetails .row_c {
		width: 45%;
	}

	#content .car_darkspecial .image {
		float: none;
		width: 100%;
	}
	#content .car_darkspecial .image img {
		width: 100%;
	}
	#content .car_darkspecial .text {
		float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	#content .car_darkspecial .text {
		padding-bottom: 60px;
	}
	#content .car_darkspecial .text .number,
	#content .car_darkspecial .textleft .number {
		margin: 0 0 0 0;
	}

	#content .car_freespecial {
		width: 100%;
	}
	#content .car_freespecial .text {
		width: 40%;
		margin: 140px 0 0 20px;
	}

}

@media only screen and (max-width: 700px) {

	#stage .carstage {
		height: auto;
	}

	#content .car_tools .imageleft,
	#content .car_tools .textleft,
	#content .car_tools .imageright,
	#content .car_tools .textright {
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	#content .car_tools .text {
		margin: 20px auto 30px auto;
	}
	#content .car_tools .text .head {
		width: 70%;
	}
	#content .car_freespecial .text h2 {
		font-size: 28px;
	}

	#content .car_slideshowbox {
		width: 90%;
		margin: 60px auto 0 auto;
	}

}

@media only screen and (max-width: 525px) {
	
	#substage h1 {
		font-size: 36px;
	}
	#substage h2 {
		font-size: 20px;
	}
	#content #car_techdetails {
		margin-top: 0px;
	}

	#content #car_techdetails .cell_with_bg img {
		width: 45px;
		margin-top: 5px;
	}
	#content #car_techdetails p.value {
		font-size: 18px;
	}
	#content #car_techdetails p.valuea {
		font-size: 18px;
	}	
	#content #car_techdetails p.label {
		font-size: 12px;
	}

	#content .car_content h2 { 
		font-size: 28px; 
	}

	#content .car_tools .text h3 {
		font-size: 20px;
	}
	
	#content .car_darkspecial h2 {
		font-size: 28px;
	}

	#content .car_freespecial .text {
		width: 90%;
		float: none;
		text-align: center;
		margin: 30px auto 30px auto;
	}
	#content .car_freespecial .image {
		width: 90%;
		float: none;
		margin: 0 auto;
		text-align: center;
	}

}

@media only screen and (max-width: 315px) {

	#substage h2 {
		font-size: 16px;
	}

	#content #car_techdetails .row_b,
	#content #car_techdetails .row_c {
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}


